body {
  text-align: center;
  color: #ffffff;
  background: #000000;
}

header {
  margin: 0%;
}

figure {
  padding: 20px !important;
}

.btn {
  margin: 10px;
}

.container {
  position: relative;
  width: 50%;
}


.img-gif {
  display: block;
  border-radius: 20px 40px 60px 40px;
  width: 100%;
  height: 180px;
}

.overlay {
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 20px;
  right: 0;
  width: 88.8%;
  height: 180px;
  border-radius: 20px 40px 60px 40px;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 139, 186, 0.733);
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.form {
  background: #3f3f3f;
  width: 95% !important;
  height: 220px;
  padding: 20px;
  margin-bottom: 50px;
}

.form-input {
  border: none;
  margin: 10px;
  padding: 5px;
}


@media screen and (min-width: 992px) {
  .form {
    width: 40% !important;
  }

  .overlay {
    width: 88%;
  }
}